body {
    font-family: 'Roboto', sans-serif;
    background-color: #212529;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    /* background: url("../images/vintage-world.jpeg") no-repeat center center/cover;  */
    box-sizing: border-box; 
    overflow: auto; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    /* background: linear-gradient(180deg, rgb(99, 99, 99) 0%, rgba(0, 0, 0, 0) 100%); */
    padding: 3.5em 0;
    background-color: #212529;
}

header .logo {
    padding: 0.5em;
    position: absolute;
    left: 10px;
    font-size: 2em;
    text-decoration: none;
}

header .logo a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.839);
    font-size: 38px;
}

header .login-register {
    position: absolute;
    right: 1em;
    margin: 10px 0;
    padding: 1.5em;
    backdrop-filter: blur(10px); 
    border: none;
    color: rgb(255, 255, 255);
}

header #login-button, header #register-button {
    background: #14528f;
    padding: 1em;
    border-radius: 375rem; 
}

header #login-button:hover, #register-button:hover {
    background: #0f3f6e;
}

header .login-register a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-size: 24px;
}

header .login-register a:hover {
    text-decoration: none;
}

/* Boton Claro - Oscuro */
#toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(92, 92, 92);
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    z-index: 2;
    box-shadow: rgb(81, 80, 80) .5px .5px .5px;
}
  
#toggle::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #EEE;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in;
}
  
#toggle:checked {
    background: #b6bfba;
}
  
#toggle:checked::before {
    background: #333;
    left: 32px;
}

/* modo claro y oscuro */
body.light-mode {
    background: #3399ff;
    color: #000;
} 
  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }

body.dark-mode {
    background-color: #212529;
    color: #FFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    flex: 1;
    overflow: auto; 
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 40em;
    margin-top: 24px;
    margin-bottom: 2em;
}

.search-container .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-container input:hover {
    background-color: #404040;
}

.search-container input {
    width: 100%;
    padding: 8px 8px 8px 45px;
    border: 2px solid #606060;
    border-radius: 5px;
    font-size: 28px;
    height: 100%;
    max-height: 40em;
    background-color: #212529;
    color: white;
}

body.light-mode .search-container input  {
    background-color: white;
    color: #000;
}

body.light-mode .bi-search {
    color: rgb(117, 117, 117);
}

body.light-mode .location-info {
    background: #14528f;
}

body.light-mode #forecast-container {
    background: #14528f;

}
body.light-mode .forecast-day{
    background: #1d77d1;

}
body.light-mode
body.light-mode 

.search-container input:focus {
    outline: none;
    border-color: #898989;
}

.bi-search {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
    vertical-align: middle; 
    color: rgb(255, 255, 255);
}


.suggestions-container {
    position: absolute;
    background-color: #404040;
    color: white;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #202020;
}

#unit-toggle  {
    margin: 18px;
    padding: 12px;
    cursor: pointer;
    width: 200px;
    height: 80px;
    font-size: 28px;
    text-decoration: none;
    border-radius: 375rem ;
    background: #14528f;
    border: none;
    color: #ffffff;
    z-index: 1;
}

#unit-toggle:hover {
    background: #0f3f6e;
}

.location-info {
    background-color: #2b3035;
    backdrop-filter: blur(10px); 
    margin-top: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 32rem;
    padding: .5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    z-index: 1;

}

#temperature img {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.location-info h2 {
    font-size: 32px;
    margin-bottom: .1em;
}

.location-info p {
    font-size: 32px;
}

.forecast {
    margin-top: 10px;
    text-align: center;
}

#forecast-container {
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 82rem;
    background-color: #2b3035; 
    padding: 1.5em 0;
    border-radius: 10px;
    margin: 1em 0em;
    color: rgb(255, 255, 255);
}

.forecast-day {
    background: #343b44;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    margin: 0 5px;
    font-size: 24px;
}

.forecast-day img {
    width: 100px;
    height: 100px;
}

.form-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: #212529;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    z-index: 100;
    width: 32rem;
    height: 30rem;
    font-size: 24px;
    margin-top: 2rem;
    color: white;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
}

.form-container button {
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: #14528f;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.form-container button:hover {
    background: #0f3f6e;
}

.form-container p {
    margin-top: 10px;
    text-align: center;
}

.form-container a {
    color: #ffffff;
    text-decoration: underline;
}

.form-container a:hover {
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2em 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    left: 0;
    bottom: 0;
    font-size: 16px;
    margin-top: 5rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 180px;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p, 
.footer-section ul,
.footer-section li {
    margin: 5px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .footer-section {
        min-width: 100%;
        text-align: left;
    }
}




@media (max-width: 1060px) {

    .forecast-day {
        font-size: 18px;
    }
}

@media (max-width: 765px) {

    header {
        padding: 5em 0;
    }

    header .logo a {
        font-size: 24px;
    }

    header .login-register {
        padding: 2em ;
    }

    header .login-register a {
        font-size: 18px;
        padding: .5em;
    }

    main {
        overflow: auto; 
    }

    .search-container {
        max-width: 25rem;
        margin-top: 24px;
        margin-left: -50px;
    }

    .search-container input {
        padding: 5px 3px 5px 45px;
        font-size: 28px;
    }

    .location-info {
        padding: 0.5em;
        width: 32rem;
    }

    .location-info h2 {
        font-size: 32px;
    }

    .location-info p {
        font-size: 32px;
    }

    .forecast h3 {
        font-size: 32px;
    }

    #forecast-container {
        padding: 1.5em;
        flex-direction: column;
        width: 85% ;
    }

    .forecast-day {
        margin: 5px 0;
        font-size: 32px;
    }

    .forecast-day img {
        width: 120px;
        height: 120px;
    }

    .form-container {
        width: 25rem;
        height: 28rem;
        margin-top: 1.5rem;
    }

}

@media (max-width: 500px) {

    main {
        background-color: red;
    }


}


